{{ if eq .chezmoi.os "linux" -}}
# KWin Configuration for Catppuccin Minimalist Theme

[Compositing]
Backend=OpenGL
Enabled=true
GLCore=true
LatencyPolicy=Medium
OpenGLIsUnsafe=false
WindowsBlockCompositing=false

[Effect-blur]
BlurStrength=8
NoiseStrength=0

[Effect-overview]
BorderActivate=9

[Effect-slide]
HorizontalGap=0
VerticalGap=0

[Effect-windowview]
BorderActivateAll=9

[Effect-kwin4_effect_geometry_change]
Duration=200

[Effect-kwin4_effect_translucency]
Inactive=90

[Effect-shapecorners]
ActiveCornerRadius=12
InactiveCornerRadius=12
ActiveOutlineThickness=0
InactiveOutlineThickness=0
ActiveSecondOutlineThickness=0
InactiveSecondOutlineThickness=0

[Plugins]
blurEnabled=true
contrastEnabled=false
dimscreenEnabled=true
kwin4_effect_dimscreenEnabled=false
kwin4_effect_squashEnabled=false
kwin4_effect_translucencyEnabled=true
magiclampEnabled=false
shapecornersEnabled=true
slideEnabled=true
slidingpopupsEnabled=true
wobblywindowsEnabled=false
zoomEnabled=false

[Windows]
BorderlessMaximizedWindows=false
ElectricBorderCooldown=350
ElectricBorderCornerRatio=0.25
ElectricBorderDelay=150
ElectricBorderMaximize=true
ElectricBorderTiling=true
ElectricBorders=0
FocusPolicy=ClickToFocus
FocusStealingPreventionLevel=1
HideUtilityWindowsForInactive=true

[org.kde.kdecoration2]
BorderSize=Normal
BorderSizeAuto=false
ButtonsOnLeft=
ButtonsOnRight=IAX
CloseOnDoubleClickOnMenu=false
ShowToolTips=true
{{ end -}}
