# User configuration

# Init starship
eval "$(starship init zsh)"

# N
export N_PREFIX=$HOME/.n
export PATH=$N_PREFIX/bin:$PATH

# Java 11
export JAVA_HOME="/usr/local/Cellar/openjdk@11/11.0.12"
export PATH=$PATH:JAVA_HOME/bin

# Brew
{{ if eq .chezmoi.arch "arm64" }}
export PATH=/opt/homebrew/bin:$PATH
{{ else }}
export PATH=/usr/local/bin:$PATH
{{ end }}


# Git
alias gcn="git commit --no-verify"
alias gpn="git push origin --no-verify"
alias gpnf="git push origin --no-verify --force"
alias gfpp="git checkout develop && git fetch --prune && git pull"

# AWS
alias oktaws='saml2aws login --profile=default && eval $(saml2aws script --profile=default)'

# Load prezto
if [ -d "${ZDOTDIR:-$HOME}/.zprezto" ] ; then
    source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi;

# PHP Version Switcher
source ~/.local/scripts/switch_php_version.sh

# Golang
if command -v go &> /dev/null; then
  export PATH=$PATH:$(go env GOPATH)/bin
fi
