#!/usr/bin/env bash

{{ template "script_darwin_only" . }}
{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}

set -x

PREZTO_DIR="${ZDOTDIR:-$HOME}/.zprezto"

if [ ! -d "$PREZTO_DIR" ]; then
  # Install zprezto if not already present
  git clone --recursive https://github.com/sorin-ionescu/prezto.git "$PREZTO_DIR"
else
  # If prezto is already installed, update it
  echo "Prezto already installed at $PREZTO_DIR"
  cd "$PREZTO_DIR" && git pull || true
fi