#!/usr/bin/env bash

{{ template "script_linux_only" . }}

set -euo pipefail

if command -v op &> /dev/null; then
    exit 0
fi

if ! command -v paru &> /dev/null; then
    echo "Error: paru not found"
    exit 1
fi

echo "Installing 1Password CLI..."
paru -S --needed --noconfirm 1password-cli
