#!/usr/bin/env bash

{{ template "script_no_root" . }}
{{ template "script_caffeinate" . }}
{{ template "script_darwin_only" . }}
{{ template "script_brew_path" . }}

email={{- .email }}

# We setup the 1password account automatically using the CLI
eval $(op account add --signin --address my.1password.com --email $email)
