bat
cmake
curl
git
git-delta
fzf
helix
htop
jq
neovim
python
python-pipx
starship
tmux
vim
wget
zsh
zsh-completions
diff-so-fancy
eza
ripgrep
fd
zoxide
lazygit
ranger
docker
docker-compose
ttf-firacode-nerd
ttf-jetbrains-mono-nerd
ttf-space-mono-nerd
{{- if eq .proMachine "true" }}
aws-cli
kubectl
helm
terraform
pre-commit
telnet
unbound
{{- end }}
kvantum
chezmoi
flatpak
base-devel
