1password
asdf-vm
visual-studio-code-bin
{{- if eq .proMachine "true" }}
google-chrome
terraform-docs
tflint
infracost
ngrok
saml2aws
hcledit
jetbrains-toolbox
datagrip
intellij-idea-ultimate-edition
pgadmin4
headlamp-desktop
{{- else }}
discord
zola
{{- end }}
kwin-effect-rounded-corners-git
kvantum-theme-catppuccin-git
kitty
librepods-git
obsidian
rofi-wayland
vivaldi
vivaldi-ffmpeg-codecs
zen-browser-bin
