HashKnownHosts no

{{- if eq .chezmoi.os "darwin" }}
Host *
  AddKeysToAgent yes
  UseKeychain yes

  # SSH multiplexing for faster connections
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 600

  # Keep connections alive
  ServerAliveInterval 60
  ServerAliveCountMax 3

  # Compression
  Compression yes
{{- end }}

{{ if eq .proMachine "true" }}
Host {{ range (onepassword "uk7kke52vbzvtylpjjqtjpylg4").fields -}}
  {{ if and (eq .label "name") -}}
  {{   .value -}}
  {{ end -}}
  {{ end }}
   User {{ range (onepassword "uk7kke52vbzvtylpjjqtjpylg4").fields -}}
  {{ if and (eq .label "username") -}}
  {{   .value -}}
  {{ end -}}
  {{ end }}
   Hostname {{ range (onepassword "uk7kke52vbzvtylpjjqtjpylg4").fields -}}
  {{ if and (eq .label "url") -}}
  {{   .value -}}
  {{ end -}}
  {{ end }}
   RemoteCommand cd {{ range (onepassword "uk7kke52vbzvtylpjjqtjpylg4").fields -}}
  {{ if and (eq .label "path") -}}
  {{   .value -}}
  {{ end -}}
  {{ end }} && exec bash --login
   RequestTTY yes
{{- end }}

Host github.com
  User git
  # Disable multiplexing for git operations
  ControlMaster no
